.body{
	font-family: "Times New Roman", Times, serif;
	background-color: #404040;
	height: auto;
	display: flex;
	align: center;

}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
	
}

h3{
	align-content: center;
}